{% extends 'pdc/base.html' %}

{% block content %}
<script>
    function validar() {
        document.getElementById("cotador").submit();
    };
</script>


<div class="row">
    <div class="col-md-6 col-sm-6 pull-center">
        <div class="col-md-6 col-sm-6">
            <label>
                <h2 style="font-size: 25px"><a>Maringá - PR</a></h1>
                <h2 style="font-size: 15px"><a>{{today}}</a></h1>
            </label>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-6 col-sm-6 pull-center">
        <div class="col-md-2 col-sm-2">
            <img class="img-responsive img-rounded" src="http://project-zeta.one/meteorologia/pdc/weather/weather_icon1.png"/>
        </div>
        <div class="col-md-4 col-sm-4">
            <h1 style="font-size: 35px"><a>{{temp}}°C</a></h1>
        </div>
        <div class="col-md-3 col-sm-3">
            <label style="font-size: 15px">
                Chuva: {{rain}}%<br>
                Umidade: {{humidity}}%<br>
                Vento: {{wind}}km/h
            </label>
        </div>
    </div>
</div>

<br><br>
<!--
<form method="GET" name="cotador" id="cotador" class="post-form">{% csrf_token %}
    <div class="form-group">
        <button type="submit" class="btn btn-default">
          Calcular
        </button>
      <div class="row">
        <div class="col-md-2">
          <label for="lbl_cpf">Temperature:</label>
          <input name="temperature" id="temperature" type="text" class="form-control">
        </div>
      </div>
    </div>
</form>
-->

{% endblock %}
