{% extends 'pdc/base.html' %}

{% block content %}
<script>
    function validar() {
        document.getElementById("cotador").submit();
    };
</script>
<div class="row">
    <div class="col-md-12">
        <p><img class="img-responsive img-rounded" src="http://project-zeta.one/meteorologia/pdc/sky.jpg"/></p>
    </div>

    {% if temp %}
    <table class="table">
        <tr class="active">...</tr>
    </table>
    <div class="col-md-12">
        <img class="img-responsive img-rounded" src="http://project-zeta.one/meteorologia/pdc/weather/weather_icon1.png"/>
        <a>{{temp}} °C </a>
    </div>
    {% endif %}
</div>
<br><br>
<form method="GET" name="cotador" id="cotador" class="post-form">{% csrf_token %}
    <div class="form-group">
        <button type="submit" class="btn btn-default">
          Calcular
        </button>
      <div class="row">
        <div class="col-md-2">
          <label for="lbl_cpf">Temperature:</label>
          <input name="temperature" id="temperature" type="text" class="form-control">
        </div>
      </div>
    </div>
</form>

{% endblock %}
