
<div class="row">
    <div class="col-md-1 col-xs-4">    
        <img class="img-responsive img-rounded" src="http://project-zeta.one/meteorologia/pdc/weather/weather_icon{{icon}}.png" align="center"/>          
    </div>
    <div class="col-md-2 col-xs-4">
        <label style="font-size: 34px; color: #428bca">
            {{temp}}°C
        </label><br>
        <label style="font-size: 13px">
            Chuva: {{rain}}%<br>
            Umidade: {{humidity}}%<br>
            Vento: {{wind}} km/h<br>
        </label>
    </div>
</div>
