
{% extends 'cotador/base.html' %}

{% block content %}

{% block city %}
{% endblock city %}
  <h1>Calculo</h1>
  <div class="container">
    <form method="POST" name="cotador" class="post-form">{% csrf_token %}
      <p> Abatía - 24,33 SC/ha - Tax 16,5%</p>
       <div class="row">
        <div class="col-md-4">
          <div class="form-group">
            <label for="lbl_municipio">Município</label>
            <select class="form-control">
              {% for city in cities %}
              <option>{{city.city_name}}</option>
              {% endfor %}

            </select>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-2">
          <div class="form-group">
            <label for="lbl_price">Preço da Saca</label>
            <div class="input-group">
              <span class="input-group-addon">R$</span>
              <input name="price" type="text" class="form-control" aria-label="Amount">
              <span class="input-group-addon">,00</span>
            </div>
          </div>
          <div class="form-group">
            <label for="lbl_area">Área</label>
            <div class="input-group">
              <span class="input-group-addon" id="basic-addon1">HA</span>
              <input type="text" name="area" class="form-control" placeholder="10" aria-describedby="basic-addon1">
            </div>
          </div>
          <button type="submit" class="btn btn-default">Calcular</button>
        </div>
      </div>
    </form>
  </div>
  {% if is_total %}
  <table>
    <tr>
      <td>IS total:</td>
      <td>R$ {{is_total}}</td>
    </tr>
    <tr>
      <td>Custo total: </td>
      <td>R$ {{total_cost}}</td>
    </tr>
    <tr>
      <td>Subvenção Federal: </td>
      <td>R$ {{subv_fed}}</td>
    </tr>
    <tr>
      <td>Custo Final: </td>
      <td>R$ {{final_cost}}</td>
    </tr>
  </table>

  {% endif %}
{% endblock %}
