{% extends 'cotador/base.html' %}

{% block content %}
<script>
    function validar() {
        document.getElementById("cotador").submit();
    };
</script>
  <form method="POST" name="cotador" id="cotador" class="post-form">{% csrf_token %}
    <div class="form-group">
        <button type="submit" class="btn btn-default">
          Calcular
        </button>
      <div class="row">
        <div class="col-md-2">
          <label for="lbl_cpf">CPF:</label>
          <input name="temperature" id="temperature" type="text" class="form-control">
        </div>
      </div>
    </div>
  </form>
{% endblock %}
